@model IEnumerable<Fiap.Web.Aula03.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<alert alert-type="@TempData["mensagem"]"></alert>

<h1>Lista de Filmes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bilheteria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bilheteria)
            </td>
            <td>
                    <a asp-action="Update" asp-route-id="@item.FilmeId" class="btn btn-primary">Editar</a> |
                    <button onclick="removeKey.value = @item.FilmeId" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Deletar
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir esse Filme?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" name="id" id="removeKey" />
                    <button type="submit" class="btn btn-danger">Sim</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                </form>
            </div>
        </div>
    </div>
</div>